  
<!-- Title and Meta -->

<title>{% if page.title != "Index" %}{{ page.title }} - {% endif %}Thingyman-DEV</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="description" content="{{ page.description }}" />
<meta name="author" content="" />
<link rel="icon" href="/assets/images/Favicon.png" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://Thingyman-DEV.github.io{{ page.url }}" />
<meta
  property="og:title"
  content='{% if page.title != "Index" %}{{ page.title }} - {% else %}Thingyman-DEV{% endif %}'
/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:site_name" content="Thingyman-DEV" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://Thingyman-DEV.github.io{{ page.url }}" />
<meta name="twitter:title" content='{% if page.title != "Index" %}{{ page.title }} - {% endif %}Thingyman-DEV' />
<meta name="twitter:description" content="{{ page.description }}" />

<!-- Require Script and Loading Page -->

<link rel="stylesheet" href="/assets/css/base.scss" />

{% unless page.no-analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->

{% endunless %}
