

p {
color: white;
font-size: 40px;
}

body {
  background-color: lightblue;
}

button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  font-family: Notable;
  border-radius: 15px;
}
