

p {
color: white;
font-size: 40px;
}

body {
  background-color: lightblue;
}

button {
  background-color: #fff;
    border: solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    font-family: Notable;
    border-radius: 11px;
    height: 25px;
}
