---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
  font-family: 'Roboto Condensed', sans-serif;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.bgimg {
    background-image: url(/assets/images/Gradient.jepg);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background: linear-gradient(-100deg, #ffd3d2 0%, #f66f8e 23%, #80a0e9 100%);
}
